@charset "UTF-8";
/*Main Seccion registrate gatis*/
@import url("https://fonts.googleapis.com/css2? family= Barlow:wght@800 & family= Montserrat:wght@600 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Barlow:wght@800 & family= Montserrat:wght@600 & family= Poppins:wght@400;500;600;700; 800 & mostrar=intercambiar");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Barlow:wght@800 & family= Montserrat:wght@600 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Barlow:wght@800 & family= Montserrat:wght@600 & family= Poppins:wght@400;500;600;700; 800 & mostrar=intercambiar");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*Seccio-1*/
.banner {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -250px;
}

.boton-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-inicio {
  background: #000;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: aliceblue;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 5px;
}

.boton-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

/*Seccion-2*/
.seccion-2 {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  justify-content: center;
}

.Progamas-Gratis {
  color: aquamarine;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.comienza {
  font-size: 15px;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.cambia {
  font-size: 15px;
  margin-top: 20px;
  color: rgb(76, 149, 149);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container img {
  width: 200px;
  /* Ajusta este valor según tus necesidades */
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  .image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
}
:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.header_content h4 {
  color: #111317;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: #f9ac54;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #d79447;
}

a {
  text-decoration: none;
}

.bg__blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #f9ac54;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #111317;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo {
  max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--white);
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #f9ac54;
  transition: 0.3s;
}

.link a:hover::after {
  width: 50%;
}

.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__container::before {
  content: "FITNESS";
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: black;
  opacity: 0.05;
  z-index: -1;
}

.header__blur {
  bottom: 5rem;
  right: 0;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #f9ac54;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: back;
}

.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__image {
  position: relative;
}

.header__image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: #f9ac54;
  opacity: 0.1;
  z-index: -1;
}

.header__image img {
  max-width: 350px;
  margin: auto;
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: #d79447;
  border-color: #d79447;
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.explore__card a {
  color: var(--white);
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color);
}

.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
}

.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 500px;
  border-radius: 10px;
}

.class__image .class__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  border-radius: 10px;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  max-width: 400px;
}

.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
}

.join__image {
  margin-top: 4rem;
  position: relative;
}

.join__image img {
  border-radius: 10px;
}

.join__grid {
  position: absolute;
  bottom: -5rem;
  width: calc(100% - 4rem);
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--primary-color-light);
  border-radius: 10px;
}

.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.join__card p {
  color: var(--text-light);
}

.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.price__card p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.price__btn {
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

.price__btn:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.review {
  background-color: var(--primary-color-light);
}

.review__container {
  display: flex;
  gap: 2rem;
}

.review__container > span {
  font-size: 6rem;
  color: var(--secondary-color);
  opacity: 0.5;
}

.review__content {
  flex: 1;
}

.review__content h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

.review__content p {
  max-width: 800px;
  margin-bottom: 2rem;
  color: var(--text-light);
}

.review__rating span {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.review__footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.review__member {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.review__member img {
  max-width: 60px;
  border-radius: 100%;
}

.review__member__details h4 {
  margin-bottom: 0;
}

.review__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review__nav span {
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__blur {
  bottom: 0;
  right: 0;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col > a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--white);
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }
  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    grid-area: 1/1/2/2;
  }
  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .class__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .class__image {
    min-height: 500px;
  }
  .price__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .review__container {
    gap: 2rem;
  }
  .footer__container {
    grid-template-columns: 1fr 200px;
  }
}
@media (width < 600px) {
  .explore__header {
    flex-direction: column;
  }
  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .join__container {
    margin-bottom: 15rem;
  }
  .join__grid {
    width: 100%;
    margin: 0;
    bottom: -20rem;
  }
  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .review__container {
    flex-direction: column;
    gap: 0;
  }
  .review__footer {
    flex-direction: column;
  }
  .footer__container {
    grid-template-columns: 1fr 150px;
  }
  .footer__bar {
    text-align: center;
  }
}
.section__container .footer__container {
  background-color: #111317;
}

/*Productos*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

header {
  background: url(img/header.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

header h1 {
  text-align: center;
  font-size: 35px;
  color: #fff;
  padding: 30px 0;
}

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda fuera del .contenedor */
  contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.contenedor .contenedor-items .item .img-item {
  width: 100%;
}

.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: rgb(6, 245, 125);
  background: linear-gradient(to right, rgb(106, 46, 165), rgb(6, 245, 125));
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* seccion carrito */
.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}

.carrito .header-carrito {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.carrito-total .btn-pagar:hover {
  scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 720px) {
  .contenedor {
    display: block;
  }
  .contenedor-items {
    width: 100% !important;
  }
  .carrito {
    width: 100%;
  }
}
/*Estilos contacto*/
z label {
  font-size: 1.5rem;
}

input {
  font-size: 1.5rem;
  background-color: darkgray;
  color: #ffffff;
}

.enviar {
  color: rgb(0, 0, 0);
  background-color: aquamarine;
}

.reset {
  color: rgb(0, 0, 0);
  background-color: rgb(12, 204, 247);
}

textarea {
  resize: none;
}

.rutinas {
  max-width: 800px;
  margin: 20px auto;
}

.rutina {
  display: flex;
  margin-bottom: 20px;
  justify-content: right;
}

.video {
  margin-right: 20px;
  max-width: 1280px;
}

.info {
  padding: 10px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #cf7f7f;
  color: #f9ac54;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.boton-mas a {
  text-decoration: none;
  background-color: #f9ac54;
}

button:hover {
  background-color: #f9ac54;
}

.inportante-cuerpo {
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

@media (max-width: 763px) {
  .videos {
    width: 200px;
    margin-right: 20px;
  }
  .info {
    font-size: 15px;
    padding: 5%;
  }
}
/*Estilos contacto*/
z label {
  font-size: 1.5rem;
}

input {
  font-size: 1.5rem;
  background-color: darkgray;
  color: #ffffff;
}

.enviar {
  color: rgb(0, 0, 0);
  background-color: aquamarine;
}

.reset {
  color: rgb(0, 0, 0);
  background-color: rgb(12, 204, 247);
}

textarea {
  resize: none;
}

/*seccion imagenes con texto*/
.imagenes-y-texto {
  float: right;
}

.texto-de-la-imagen {
  align-items: center;
  color: blue;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.seccion-nuticion1 {
  display: flex;
  justify-content: center;
}

.txt1 {
  font-size: 12px;
  margin-right: 100px;
  margin-top: 200px;
}

.txt1 h1 {
  font-size: 25px;
  text-align: left;
}

.txt1 a {
  text-decoration: none;
}

.txt1 .leer-mas {
  margin: 10px auto;
  border: none;
  background-color: rgb(6, 245, 125);
  background: linear-gradient(to right, rgb(106, 46, 165), rgb(6, 245, 125));
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  justify-content: left;
  margin-left: 80px;
  text-decoration: none;
  margin-left: 0px;
}

.txt1 a {
  color: rgb(38, 202, 120);
  font-size: 18px;
}

.txt2 a {
  color: rgb(38, 202, 120);
  font-size: 18px;
}

.Noticia {
  color: rgb(6, 245, 125);
}

.txt1 .txt-leer {
  margin-top: 30px;
}

.seccion-nuticion2 {
  display: flex;
  justify-content: center;
}

.txt2 h1 {
  font-size: 25px;
}

.txt2 {
  font-size: 12px;
  margin-left: 100px;
  margin-top: 200px;
}

.txt2 a {
  text-decoration: none;
}

.txt2 .leer-mas {
  margin: 10px auto;
  border: none;
  background-color: rgb(6, 245, 125);
  background: linear-gradient(to right, rgb(106, 46, 165), rgb(6, 245, 125));
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  justify-content: left;
  margin-left: 80px;
  text-decoration: none;
  margin-left: 0px;
}

.imagen-nutri1 {
  width: 630px;
  max-width: 100%;
  height: 800px;
}

.imagen-nutri2 {
  width: 630px;
  max-width: 100%;
  height: 800px;
  margin-left: 70px;
}

.imagen-nutri3 {
  width: 630px;
  max-width: 100%;
  height: 800px;
}

.imagen-nutri4 {
  width: 630px;
  max-width: 100%;
  height: 800px;
  margin-left: 70px;
}

.imagen-nutri5 {
  width: 630px;
  max-width: 100%;
  height: 800px;
}

.imagen-nutri6 {
  width: 630px;
  max-width: 100%;
  height: 800px;
  margin-left: 70px;
}

@media (max-width: 720px) {
  .imagen-nutri1 {
    width: 500px;
    height: 450px;
  }
  .txt1 {
    font-size: 12px;
    margin-right: 0px;
  }
  .txt2 {
    font-size: 12px;
  }
  .imagen-nutri2 {
    width: 400px;
    height: 650px;
  }
  .imagen-nutri3 {
    width: 400px;
    height: 650px;
  }
  .imagen-nutri4 {
    width: 400px;
    height: 650px;
  }
  .imagen-nutri5 {
    width: 400px;
    height: 650px;
  }
  .imagen-nutri6 {
    width: 600px;
    height: 650px;
    margin-right: 110px;
  }
}
.main2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  min-height: 100vh;
}

.containerq {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  height: 30%;
}

.image-section img {
  width: 400px;
  height: 300px;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
}

.content-section .content p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.5;
}

.content-section .content .buttom {
  margin-top: 30px;
}

.content-section .content .buttom a {
  background-color: rgb(6, 245, 125);
  background: linear-gradient(to right, rgb(106, 46, 165), rgb(6, 245, 125));
  padding: 12px 40px;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1.5px;
  border-radius: 20px;
  color: black;
}

.content-section .content .buttom a:hover {
  background: linear-gradient(to right, rgb(6, 245, 125), rgb(106, 46, 165));
}

.content-section .social {
  margin: 30px 20px;
}

.content-section .social i {
  color: rgb(46, 157, 165);
  font-size: 30px;
  padding: 0px 10px;
}

@media (max-width: 1080px) {
  .image-section img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .containerq {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .image-section img {
    width: 100%;
    height: auto;
  }
  .content-section {
    float: left;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: left;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-transform: center;
    font-size: 19px;
  }
  .content-section .content .buttom {
    text-align: center;
  }
  .content-section .content .buttom a {
    padding: 9px 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "monyserrat" sans-serif;
}

.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

/*# sourceMappingURL=style.css.map */
