.rutinas {
    max-width: 800px;
    margin: 20px auto;
}

.rutina {
    display: flex;
    margin-bottom: 20px;
    justify-content: right;

}

.video {

    margin-right: 20px;
    max-width: 1280px;
}

.info {

    padding: 10px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #cf7f7f;
    color: #f9ac54;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.boton-mas a {
    text-decoration: none;
    background-color: #f9ac54;
}

button:hover {
    background-color: #f9ac54;
}


.inportante-cuerpo {
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

@media(max-width:763px) {
    .videos {
        width: 200px;
        margin-right: 20px;
    }

    .info {
        font-size: 15px;
        padding: 5%;

    }

}