.main2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    min-height: 100vh;
}

.containerq {

    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    height: 30%;
}

.image-section img {
    width: 400px;
    height: 300px;


}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;

}

.content-section .content h3 {
    margin-top: 20px;
}

.content-section .content p {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
}

.content-section .content .buttom {
    margin-top: 30px;
}

.content-section .content .buttom a {
    background-color: rgb(6, 245, 125);
    background: linear-gradient(to right, rgb(106, 46, 165), rgb(6, 245, 125));
    padding: 12px 40px;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1.5px;
    border-radius: 20px;
    color: black;

}

.content-section .content .buttom a:hover {

    background: linear-gradient(to right, rgb(6, 245, 125), rgb(106, 46, 165));
}

.content-section .social {
    margin: 30px 20px;
}

.content-section .social i {
    color: rgb(46, 157, 165);

    font-size: 30px;
    padding: 0px 10px;
}

@media(max-width:1080px) {
    .image-section img {
        width: auto;
        height: auto;


    }

}

@media screen and (max-width:768px) {
    .containerq {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .image-section img {
        width: 100%;
        height: auto;


    }

    .content-section {
        float: left;
        width: 100%;
        display: block;
        margin: auto;
    }



    .image-section {
        float: left;
        width: 100%;
        display: block;
        margin: auto;
    }

    .content-section .title {
        text-transform: center;
        font-size: 19px
    }

    .content-section .content .buttom {
        text-align: center;
    }

    .content-section .content .buttom a {
        padding: 9px 30px;
    }

}